@charset "UTF-8";
/*-------------Миксины----------------*/
.coins {
  width: 100%;
  opacity: 0;
  animation: Open 0.8s forwards;
}
.coins .coins_game {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 1150px) {
  .coins .coins_game {
    flex-direction: column-reverse;
  }
}
.coins .coins_game .game_control {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  border-radius: 20px;
  background-color: var(--grey);
}
@media (max-width: 768px) {
  .coins .coins_game .game_control {
    padding: calc(15px + 17 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .coins .coins_game .game_control {
    padding: calc(15px + 10 * 0.0520833333vw);
  }
}
.coins .coins_game .game_control .game_inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.coins .coins_game .game_control .game_inputs .input_block .control_buttons {
  margin-top: 10px;
  display: flex;
  gap: 5px;
}
.coins .coins_game .game_control .game_inputs .coins_block {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.coins .coins_game .game_control .game_inputs .coins_block .coin_item {
  flex: 1;
  padding: 10px;
  text-align: center;
  border: 2px solid var(--black);
  border-radius: 10px;
  transition: 0.4s;
  transform: translate(0px, 0px);
  max-width: 130px;
  cursor: pointer;
}
.coins .coins_game .game_control .game_inputs .coins_block .coin_item img {
  width: 100%;
}
.coins .coins_game .game_control .game_inputs .coins_block .coin_item p {
  margin-top: 10px;
  font-weight: 600;
}
@media (max-width: 768px) {
  .coins .coins_game .game_control .game_inputs .coins_block .coin_item p {
    font-size: calc(14px + 10.2 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .coins .coins_game .game_control .game_inputs .coins_block .coin_item p {
    font-size: calc(14px + 6 * 0.0520833333vw);
  }
}
@media screen and (min-width: 992px) {
  .coins .coins_game .game_control .game_inputs .coins_block .coin_item:hover {
    border-color: var(--blue);
  }
}
.coins .coins_game .game_control .game_inputs .coins_block .coin_item.active {
  border-color: var(--blue);
}
.coins .coins_game .game_control .game_inputs .coins_block .coin_item:active {
  transform: translate(2px, 3px);
}
.coins .coins_game .window {
  flex: 5;
  border-radius: 20px;
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 768px) {
  .coins .coins_game .window {
    padding: calc(15px + 17 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .coins .coins_game .window {
    padding: calc(15px + 10 * 0.0520833333vw);
  }
}
.coins .coins_game .window .game_process {
  border-radius: 20px;
  border: 10px solid var(--blue);
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
}
@media (max-width: 768px) {
  .coins .coins_game .window .game_process {
    padding-top: calc(60px + 51 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .coins .coins_game .window .game_process {
    padding-top: calc(60px + 30 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  .coins .coins_game .window .game_process {
    padding-bottom: calc(60px + 51 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .coins .coins_game .window .game_process {
    padding-bottom: calc(60px + 30 * 0.0520833333vw);
  }
}
.coins .coins_game .window .game_process .coins_info {
  text-align: center;
}
@media (max-width: 768px) {
  .coins .coins_game .window .game_process .coins_info .number {
    font-size: calc(20px + 102 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .coins .coins_game .window .game_process .coins_info .number {
    font-size: calc(20px + 60 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  .coins .coins_game .window .game_process .coins_info p {
    font-size: calc(14px + 10.2 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .coins .coins_game .window .game_process .coins_info p {
    font-size: calc(14px + 6 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  .coins .coins_game .window .game_process .coin {
    max-width: calc(110px + 119 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .coins .coins_game .window .game_process .coin {
    max-width: calc(110px + 70 * 0.0520833333vw);
  }
}
.coins .coins_game .window .game_process .coin img {
  width: 100%;
}
.coins .coins_game .window .coef_list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  border-radius: 20px;
  background-color: var(--black);
  gap: 5px;
}
@media (max-width: 768px) {
  .coins .coins_game .window .coef_list {
    padding: calc(10px + 8.5 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .coins .coins_game .window .coef_list {
    padding: calc(10px + 5 * 0.0520833333vw);
  }
}
@media screen and (max-width: 556px) {
  .coins .coins_game .window .coef_list {
    grid-template-columns: repeat(5, 1fr);
  }
}
.coins .coins_game .window .coef_list .coef_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.coins .coins_game .window .coef_list .coef_item .coef_avatar {
  border-radius: 50%;
  border: 2px solid var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .coins .coins_game .window .coef_list .coef_item .coef_avatar {
    width: calc(35px + 8.5 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .coins .coins_game .window .coef_list .coef_item .coef_avatar {
    width: calc(35px + 5 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  .coins .coins_game .window .coef_list .coef_item .coef_avatar {
    height: calc(35px + 8.5 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .coins .coins_game .window .coef_list .coef_item .coef_avatar {
    height: calc(35px + 5 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  .coins .coins_game .window .coef_list .coef_item p {
    font-size: calc(12px + 6.8 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .coins .coins_game .window .coef_list .coef_item p {
    font-size: calc(12px + 4 * 0.0520833333vw);
  }
}
.coins .coins_history {
  margin-top: 20px;
  border-radius: 20px;
  background-color: var(--grey);
}
@media (max-width: 768px) {
  .coins .coins_history {
    padding: calc(15px + 17 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .coins .coins_history {
    padding: calc(15px + 10 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  .coins .coins_history h3 {
    font-size: calc(16px + 6.8 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .coins .coins_history h3 {
    font-size: calc(16px + 4 * 0.0520833333vw);
  }
}
.coins .coins_history .hostory_list {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 10px;
  height: 200px;
  overflow: auto;
  padding-right: 5px;
}
@media (max-width: 768px) {
  .coins .coins_history .hostory_list {
    font-size: calc(12px + 6.8 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .coins .coins_history .hostory_list {
    font-size: calc(12px + 4 * 0.0520833333vw);
  }
}
.coins .coins_history .hostory_list::-webkit-scrollbar {
  width: 5px;
}
.coins .coins_history .hostory_list::-webkit-scrollbar-thumb {
  background-color: var(--black);
  border-radius: 10px;
}
.coins .coins_history .hostory_list .history_item {
  display: grid;
  grid-template-columns: minmax(100px, 1fr) minmax(50px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr);
  grid-auto-rows: auto;
  align-items: center;
  gap: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--black);
}
@media screen and (max-width: 768px) {
  .coins .coins_history .hostory_list .history_item {
    grid-template-columns: minmax(100px, 1fr) minmax(50px, 1fr) minmax(50px, 1fr) minmax(50px, 1fr) minmax(50px, 1fr);
  }
  .coins .coins_history .hostory_list .history_item button {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .coins .coins_history .hostory_list .history_item {
    grid-template-columns: minmax(100px, 1fr) minmax(50px, 1fr) minmax(50px, 1fr) minmax(50px, 1fr);
  }
  .coins .coins_history .hostory_list .history_item .coef {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .coins .coins_history .hostory_list .history_item {
    grid-template-columns: minmax(100px, 1fr) minmax(50px, 1fr) minmax(50px, 1fr);
  }
  .coins .coins_history .hostory_list .history_item .hit {
    display: none;
  }
}
.coins .coins_history .hostory_list .history_item.head {
  border-bottom: 0;
}
.coins .coins_history .hostory_list .history_item .player {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-shrink: 0;
}
.coins .coins_history .hostory_list .history_item .player .avatar {
  min-width: 30px;
}
.coins .coins_history .hostory_list .history_item .player .name {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.coins .coins_history .hostory_list .history_item .bet,
.coins .coins_history .hostory_list .history_item .hit,
.coins .coins_history .hostory_list .history_item .coef,
.coins .coins_history .hostory_list .history_item .win {
  text-align: center;
}
.coins .coins_history .hostory_list .history_item button {
  margin-left: auto;
}
.coins .coins_history .hostory_list .history_item .win.sum {
  color: var(--blue);
}/*# sourceMappingURL=coins.css.map */