@charset "UTF-8";
/*-------------Миксины----------------*/
.slots_page {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  opacity: 0;
  animation: Open 0.8s forwards;
}
.slots_page .slot_game_wrapper {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 20px;
}
.slots_page .slot_game_wrapper .set_bet {
  flex: 1;
  width: 100%;
  min-width: 270px;
  background-color: var(--grey);
  border-radius: 20px;
}
@media (max-width: 768px) {
  .slots_page .slot_game_wrapper .set_bet {
    padding: calc(15px + 17 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .slots_page .slot_game_wrapper .set_bet {
    padding: calc(15px + 10 * 0.0520833333vw);
  }
}
.slots_page .slot_game_wrapper .set_bet .bet_controll_btn {
  margin-bottom: 20px;
}
.slots_page .slot_game_wrapper .game_wrapper {
  flex: 2.6;
  background-color: var(--grey);
  border-radius: 20px;
  height: 50dvh;
  min-height: 300px;
}
@media (max-width: 768px) {
  .slots_page .slot_game_wrapper .game_wrapper {
    padding: calc(10px + 17 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .slots_page .slot_game_wrapper .game_wrapper {
    padding: calc(10px + 10 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  .slots_page .slot_game_wrapper .game_wrapper {
    max-height: calc(250px + 493 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .slots_page .slot_game_wrapper .game_wrapper {
    max-height: calc(250px + 290 * 0.0520833333vw);
  }
}
@media screen and (max-width: 500px) {
  .slots_page .slot_game_wrapper .game_wrapper {
    min-height: 250px;
  }
}
.slots_page .slot_game_wrapper .game_wrapper .slot_game {
  height: 100%;
  width: 100%;
  background-color: var(--black);
  border-radius: 10px;
  display: flex;
}
.slots_page .slot_game_wrapper .game_wrapper .slot_game .slot {
  position: relative;
  flex: 1;
  height: 100%;
  border-right: 1px solid var(--grey);
  overflow: hidden;
}
.slots_page .slot_game_wrapper .game_wrapper .slot_game .slot .slot_track {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 77px;
}
@media screen and (max-width: 500px) {
  .slots_page .slot_game_wrapper .game_wrapper .slot_game .slot .slot_track {
    min-width: 50px;
  }
}
.slots_page .slot_game_wrapper .game_wrapper .slot_game .slot .slot_track .slot_item {
  width: 100%;
  height: 33%;
  min-height: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .slots_page .slot_game_wrapper .game_wrapper .slot_game .slot .slot_track .slot_item {
    padding: calc(6px + 6.8 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .slots_page .slot_game_wrapper .game_wrapper .slot_game .slot .slot_track .slot_item {
    padding: calc(6px + 4 * 0.0520833333vw);
  }
}
.slots_page .slot_game_wrapper .game_wrapper .slot_game .slot .slot_track .slot_item img {
  width: 100%;
}
@media (max-width: 768px) {
  .slots_page .slot_game_wrapper .game_wrapper .slot_game .slot .slot_track .slot_item img {
    max-width: calc(60px + 51 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .slots_page .slot_game_wrapper .game_wrapper .slot_game .slot .slot_track .slot_item img {
    max-width: calc(60px + 30 * 0.0520833333vw);
  }
}
.slots_page .slots_game_history {
  width: 100%;
  background-color: var(--grey);
  border-radius: 20px;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .slots_page .slots_game_history {
    padding-bottom: calc(15px + 17 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .slots_page .slots_game_history {
    padding-bottom: calc(15px + 10 * 0.0520833333vw);
  }
}
.slots_page .slots_game_history h2 {
  font-weight: 600;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .slots_page .slots_game_history h2 {
    font-size: calc(16px + 6.8 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .slots_page .slots_game_history h2 {
    font-size: calc(16px + 4 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  .slots_page .slots_game_history h2 {
    padding-left: calc(15px + 17 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .slots_page .slots_game_history h2 {
    padding-left: calc(15px + 10 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  .slots_page .slots_game_history h2 {
    padding-right: calc(15px + 17 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .slots_page .slots_game_history h2 {
    padding-right: calc(15px + 10 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  .slots_page .slots_game_history h2 {
    padding-top: calc(15px + 17 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .slots_page .slots_game_history h2 {
    padding-top: calc(15px + 10 * 0.0520833333vw);
  }
}
.slots_page .slots_game_history .bet_list_header {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(100px, 1fr) minmax(60px, 200px) minmax(100px, 200px) 95px;
  align-items: center;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .slots_page .slots_game_history .bet_list_header {
    padding-left: calc(10px + 25.5 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .slots_page .slots_game_history .bet_list_header {
    padding-left: calc(10px + 15 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  .slots_page .slots_game_history .bet_list_header {
    padding-right: calc(10px + 25.5 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .slots_page .slots_game_history .bet_list_header {
    padding-right: calc(10px + 15 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  .slots_page .slots_game_history .bet_list_header {
    font-size: calc(12px + 6.8 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .slots_page .slots_game_history .bet_list_header {
    font-size: calc(12px + 4 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  .slots_page .slots_game_history .bet_list_header {
    gap: calc(5px + 8.5 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .slots_page .slots_game_history .bet_list_header {
    gap: calc(5px + 5 * 0.0520833333vw);
  }
}
@media screen and (max-width: 768px) {
  .slots_page .slots_game_history .bet_list_header {
    grid-template-columns: minmax(100px, 1fr) minmax(45px, 1fr) minmax(70px, 1fr);
  }
}
@media screen and (max-width: 420px) {
  .slots_page .slots_game_history .bet_list_header {
    grid-template-columns: minmax(100px, 1fr) minmax(45px, 1fr) minmax(50px, 1fr);
  }
}
.slots_page .slots_game_history .bet_list_header .bet {
  text-align: center;
}
.slots_page .slots_game_history .bet_list_header .winning {
  text-align: center;
}
.slots_page .slots_game_history .bet_list {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.slots_page .slots_game_history .bet_list .bet_list_item {
  border-bottom: 1px solid var(--black);
  height: 40px;
  display: grid;
  grid-template-columns: minmax(100px, 1fr) minmax(60px, 200px) minmax(100px, 200px) 95px;
  align-items: center;
}
@media (max-width: 768px) {
  .slots_page .slots_game_history .bet_list .bet_list_item {
    padding-left: calc(10px + 25.5 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .slots_page .slots_game_history .bet_list .bet_list_item {
    padding-left: calc(10px + 15 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  .slots_page .slots_game_history .bet_list .bet_list_item {
    padding-right: calc(10px + 25.5 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .slots_page .slots_game_history .bet_list .bet_list_item {
    padding-right: calc(10px + 15 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  .slots_page .slots_game_history .bet_list .bet_list_item {
    font-size: calc(12px + 6.8 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .slots_page .slots_game_history .bet_list .bet_list_item {
    font-size: calc(12px + 4 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  .slots_page .slots_game_history .bet_list .bet_list_item {
    gap: calc(5px + 8.5 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .slots_page .slots_game_history .bet_list .bet_list_item {
    gap: calc(5px + 5 * 0.0520833333vw);
  }
}
@media screen and (max-width: 768px) {
  .slots_page .slots_game_history .bet_list .bet_list_item {
    grid-template-columns: minmax(100px, 1fr) minmax(45px, 1fr) minmax(70px, 1fr);
  }
}
@media screen and (max-width: 420px) {
  .slots_page .slots_game_history .bet_list .bet_list_item {
    grid-template-columns: minmax(100px, 1fr) minmax(45px, 1fr) minmax(50px, 1fr);
  }
}
.slots_page .slots_game_history .bet_list .bet_list_item .player {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}
.slots_page .slots_game_history .bet_list .bet_list_item .player .name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 768px) {
  .slots_page .slots_game_history .bet_list .bet_list_item .player .name {
    font-size: calc(12px + 6.8 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .slots_page .slots_game_history .bet_list .bet_list_item .player .name {
    font-size: calc(12px + 4 * 0.0520833333vw);
  }
}
.slots_page .slots_game_history .bet_list .bet_list_item .bet {
  text-align: center;
}
.slots_page .slots_game_history .bet_list .bet_list_item .winning {
  text-align: center;
  color: var(--blue);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 768px) {
  .slots_page .slots_game_history .bet_list .bet_list_item .main_button {
    display: none;
  }
}/*# sourceMappingURL=slots.css.map */