@import './../../../style/common';

.home {
    width: 100%;
    opacity: 0;
    animation: Open 0.8s forwards;
    .home_about {
        width: 100%;
        h2 {
            @include adaptiveFont(30, 24);
            margin-bottom: 10px;
        }
        p {
            @include adaptiveFont(20, 16);
            margin-bottom: 20px;
        }
    }

    .slider {
        width: 100%;
        position: relative;
        border-radius: 30px;
        overflow: hidden;
        margin-bottom: 20px;
        .swiper {
            width: 100%;
            height: 40dvh;
            min-height: 300px;
            max-height: 500px;
            .swiper-slide {
                position: relative;
                width: 100%;
                height: 100%;
                @include adaptiveProperty(padding, 25, 15);
                background-color: var(--grey);
                display: flex;
                align-items: center;
                justify-content: center;
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 3;
                    background-color: rgba($color: #000000, $alpha: 0.4);
                }
                .title {
                    position: relative;
                    z-index: 5;
                    width: max-content;
                    max-width: 650px;
                    @include adaptiveFont(50, 30);
                    font-weight: 700;
                    color: var(--card-text-color);
                }
                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    z-index: 1;
                }
            }

            .swiper-pagination {
                position: absolute;
                @include adaptiveProperty(bottom, 20, 15);
                left: 50%;
                transform: translateX(-50%);
                z-index: 5;
                display: flex;
                gap: 10px;
                .swiper-pagination-bullet {
                    flex: 1;
                    width: 15px;
                    height: 15px;
                    background-color: rgba($color: #fff, $alpha: 0.3);
                    border-radius: 50%;
                    transition: 0.4s;
                    background-color: transparent;
                    border: 1px solid var(--white);
                    cursor: pointer;
                    &.swiper-pagination-bullet-active {
                        border: 1px solid var(--blue);
                        background-color: var(--blue);
                    }
                    @include mediaMinWidth(992) {
                        &:hover {
                            border: 1px solid var(--blue);
                        }
                    }
                }
            }

            .slide_btn {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                z-index: 5;
                @include adaptiveFont(40, 30);
                color: var(--white);
                transition: 0.4s;
                &.prev {
                    left: 20px;
                }
                &.next {
                    right: 20px;
                }
                @include mediaMinWidth(992) {
                    &:hover {
                        color: var(--blue);
                    }
                }
            }
        }
    }

    .games_block {
        h2 {
            display: flex;
            align-items: center;
            gap: 10px;
            @include adaptiveFont(30, 24);
            margin-bottom: 20px;
        }

        .games_grid {
            width: 100%;
            display: grid;
            @include adaptiveProperty(grid-auto-rows, 350, 200);
            @include adaptiveProperty(gap, 20, 10);
            @include mediaMinWidth(701) {
                grid-template-areas: 
                    'a a a b b b'
                    'c c d d e e'
                    ;
            }
            @include mediaMaxWidth(700) {
                grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
            }
            .games_grid_item {
                position: relative;
                border-radius: 30px;
                background-color: #363636;
                @include adaptiveProperty(padding, 25, 15);
                overflow: hidden;
                h4 {
                    position: relative;
                    font-weight: 600;
                    @include adaptiveFont(30, 20);
                    transition: 0.5s;
                    z-index: 2;
                }
                @include mediaMinWidth(701) {
                    &.a {
                        grid-area: a;
                    }
                    &.b {
                        grid-area: b;
                    }
                    &.c {
                        grid-area: c;
                    }
                    &.d {
                        grid-area: d;
                    }
                    &.e {
                        grid-area: e;
                    }
                }
                @include mediaMinWidth(992) {
                    &:hover {
                        h4 {
                            color: var(--blue);
                        }
                        img {
                            transform: scale(1.1);
                        }
                    }
                }
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    transition: 0.5s;
                }
            }
        }
    }
}