@import './../../../style/common';

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: auto;
    align-items: center;

    .statistic {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;

        .statistic__item{
            display: flex;
            gap: 10px;
            flex-basis: auto;

            & img {
                height: 40px;
            }

            & h3 {
                @include adaptiveFont(16, 14);
                color: var(--blue);
                margin-bottom: 10px;
            }

            & p {
                @include adaptiveFont(16, 14);
            }
        }
    }

    .logo {
        font-size: 36px;
    }

    nav {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 20px;
        
        & a {
            white-space: nowrap;
            font-size: 12px;
            transition: 0.4s;
            @include mediaMinWidth(991) {
                &:hover {
                    color: var(--blue)
                }
            }
        }
    }

    .copyright {
        @include adaptiveFont(16, 14);
        color: var(--grey);
        text-align: center;
    }
}