@import './../../../style/common';

.sidebar {
    position: fixed;
    top: 30px;
    bottom: 30px;
    height: auto;
    left: 15px;
    width: 80px;
    border-radius: 20px;
    background: var(--blue-grey);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
    gap: 20px;
    z-index: 200;
    transition: 0.4s;
    .sidebar_btn {
        svg {
            transform: rotateY(180deg);
            transform-origin: center;
            transition: 0.4s;
        }
    }
    &.close {
        transform: translateX(-95px);
        .sidebar_btn {
            transform: translateX(60px);
            svg {
                transform: rotateY(0deg);
            }
        }
    }
    @include mediaMaxWidth(991) {
        display: none;
    }
    nav {
        display: flex;
        flex-direction: column;
        gap: 3dvh;
        a {
            svg {
                path {
                    transition: 0.4s;
                }
            }
            @include mediaMinWidth(992) {
                &:hover {
                    svg {
                        path {
                            fill: var(--blue);
                        }
                    }
                }
            }
            &.active {
                svg {
                    path {
                        fill: var(--blue);
                    }
                }
            }
            &:nth-child(1) {
                @include mediaMinWidth(992) {
                    &:hover {
                        svg {
                            path {
                                stroke: var(--blue);
                                fill: transparent;
                            }
                        }
                    }
                }
                &.active {
                    svg {
                        path {
                            stroke: var(--blue);
                            fill: transparent;
                        }
                    }
                }
            }
        }
    }
}