@charset "UTF-8";
/*-------------Миксины----------------*/
header {
  position: fixed;
  top: 30px;
  left: 0;
  width: 100%;
  z-index: 200;
}
header .container {
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: auto;
}
header .container .header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: var(--grey);
  border-radius: 20px;
  height: 70px;
  padding: 0px 25px;
}
header .container .header_wrapper nav {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  header .container .header_wrapper nav {
    gap: calc(10px + 17 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  header .container .header_wrapper nav {
    gap: calc(10px + 10 * 0.0520833333vw);
  }
}
header .container .header_wrapper nav .logo img {
  width: 100px;
}
header .container .header_wrapper nav .link {
  transition: 0.4s;
  cursor: pointer;
}
@media (max-width: 768px) {
  header .container .header_wrapper nav .link {
    font-size: calc(14px + 3.4 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  header .container .header_wrapper nav .link {
    font-size: calc(14px + 2 * 0.0520833333vw);
  }
}
header .container .header_wrapper nav .link.active {
  color: var(--blue);
}
@media screen and (min-width: 992px) {
  header .container .header_wrapper nav .link:hover {
    color: var(--blue);
  }
}
@media screen and (max-width: 768px) {
  header .container .header_wrapper nav .link {
    display: none;
  }
}
header .container .header_wrapper nav .link.games {
  position: relative;
}
header .container .header_wrapper nav .link.games .games_btn {
  display: flex;
  align-content: center;
  gap: 5px;
}
header .container .header_wrapper nav .link.games .games_btn span {
  display: block;
  position: relative;
  transform: rotate(90deg);
}
header .container .header_wrapper nav .link.games .game_list_wrapper {
  left: 50%;
  bottom: 0;
  position: absolute;
  transform: translate(-50%, calc(100% + 0px));
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: var(--black);
  overflow: hidden;
  height: 0;
  transition: 0.3s;
  transition-delay: 0.3s;
}
header .container .header_wrapper nav .link.games .game_list_wrapper.open {
  height: 170px;
  transition-delay: 0s;
}
header .container .header_wrapper nav .link.games .game_list_wrapper.open .games_list {
  transition-delay: 0.3s;
  opacity: 1;
}
header .container .header_wrapper nav .link.games .game_list_wrapper .games_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  transition: 0.3s;
  transition-delay: 0s;
  opacity: 0;
}
header .container .header_wrapper nav .link.games .game_list_wrapper .games_list a {
  display: flex;
  gap: 5px;
  align-items: center;
  transition: 0.4s;
}
header .container .header_wrapper nav .link.games .game_list_wrapper .games_list a.active {
  color: var(--blue);
}
header .container .header_wrapper nav .link.games .game_list_wrapper .games_list a.active svg path {
  fill: var(--blue);
}
@media screen and (min-width: 992px) {
  header .container .header_wrapper nav .link.games .game_list_wrapper .games_list a:hover {
    color: var(--blue);
  }
}
header .container .header_wrapper nav .link.games .game_list_wrapper .games_list a svg path {
  transition: 0.4s;
}
@media screen and (min-width: 992px) {
  header .container .header_wrapper nav .link.games .game_list_wrapper .games_list a:hover svg path {
    fill: var(--blue);
  }
}
@media screen and (min-width: 992px) {
  header .container .header_wrapper nav .link.games .game_list_wrapper .games_list a:nth-child(1):hover svg path {
    stroke: var(--blue);
    fill: transparent;
  }
}
header .container .header_wrapper nav .link.games .game_list_wrapper .games_list a:nth-child(1).active svg path {
  stroke: var(--blue);
  fill: transparent;
}
header .container .header_wrapper .button_block {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  header .container .header_wrapper .button_block {
    gap: calc(10px + 17 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  header .container .header_wrapper .button_block {
    gap: calc(10px + 10 * 0.0520833333vw);
  }
}/*# sourceMappingURL=header.css.map */